body {
    background: #f0f0f0;
}

#login {
    margin: 5rem auto;
    max-width: 50rem;
    #buttons {
        display: flex;
        justify-content: space-around;
    }
}

nav {
    li {
        a {
            white-space: nowrap;
        }
    }
}

.container {
    padding: 2rem 0;
}

.masonry-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-break-inside: avoid;

    .card {
        display: inline-block;
        overflow: visible;
        width: 100%;
        margin-bottom: 0;
        h3 {
            font-size: 1.5rem;
        }
        img {
            max-width: 100%;
        }
    }
}


.delete-button{
    margin-right: 24px;  
    margin-top: 24px;  

    position: absolute;
    top: 0;
    right: 0;
}