<form id="login" class="row card-panel">
  <div class="input-field col s12">
    <input id="email" type="text" class="validate" ng-model="auth.email">
    <label for="email">Email</label>
  </div>
  <div class="input-field col s12">
    <input id="password" type="password" class="validate" ng-model="auth.password">
    <label for="password">Password</label>
  </div>
  <div class="col s12" id="buttons">
    <button class="btn waves-effect waves-light" type="submit" name="register" ng-click="register()">Register
      <i class="material-icons right">add_circle</i>
    </button>
    <button class="btn waves-effect waves-light" type="submit" name="login" ng-click="login()">Log in
      <i class="material-icons right">check_circle</i>
    </button>
  </div>
</form>