<div class="navbar navbar-default">

    <div class="container">
    
       <ul class="nav navbar-nav">
    
         <li ng-class="{active:isActive('/')}"><a
         href="#!/">All Boards</a></li>
    
         <li ng-class="{active:isActive('#/about')}"><a
         href="#!/board/:bid/pin/:pid">Pins</a></li>
    
         <li ng-class="{active:isActive('#/news')}"><a
         href="#!/board/:bid/edit">Add Board</a></li>
    
         <li ng-class="{active:isActive('#/company')}"><a
         href="#!/board/:bid/pin/new">Add Pins</a></li>
    
       </ul>
    
    </div>
    
    </div>