
<div class="container">
  <!-- TODO: Need a back button to return to viewAllBoards.html -->
  <a ng-href="#!/board/{{boardid}}/pin/new">Add a PIN</a>
  <div class="card-panel" ng-repeat="pin in pins">
    <button type="button" ng-show="hoverOver" name="delete" ng-click="delete(pin.id)">X</button>
    <h3>{{pin.title}}</h3>
    <a ng-mouseover="hoverOver = true" ng-mouseleave="hoverOver = false" ng-href="#!/board/{{pin.boardid}}/pin/{{pin.id}}">
      <img ng-src="{{pin.url}}">
    </a>
  </div>
</div>
