<div class="add-new-button-div">
  <a ng-href="#!/board/{{pin.boardid}}">
    <button class="btn btn-default deep-purple lighten-2 add-new-button" type="button">BACK TO BOARD</button>
  </a>
</div>
<div class="edit container">
  <div class="card-panel">
    <button class="btn btn-default red darken-3" ng-click="delete(pin.id)" type="button">DELETE</button>

    <a ng-href="#!/board/{{pin.boardid}}/pin/{{pin.id}}/edit">
      <button class="btn btn-default " type="button">EDIT</button>
    </a>
    <h3>{{pin.title}}</h3>
    <img class="make-image-good" ng-src={{pin.url}}>
  </div>
</div>