<div class="container">
  <div>
    <button ng-show="!showAddBoard" class="btn btn-default" ng-click="showAddBoard=true" type="button">ADD NEW BOARD</button>
    <div ng-show="showAddBoard">
      <input ng-model="newBoard.title" type="text" placeholder="Enter name of your new board">
      <button class="btn btn-default" type="button" ng-click="submitNewBoard()">ADD</button>
      <button class="btn btn-default" ng-click="showAddBoard=false" type="button" name="cancel">CANCEL</button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 masonry-container">
      <div class="card" ng-repeat="board in boards" >
        <div ng-mouseover="hoverOver = true" ng-mouseleave="hoverOver = false" class="card-image">
          <div class="right">
            <div class="delete-button">
              <a  class="btn-floating fab waves-effect waves-light red darken-3" ng-click="board.showEditTitle=true" ng-show="hoverOver">
                <i class="material-icons small">create</i>
              </a>
              <a  class="btn-floating fab waves-effect waves-light red darken-3" ng-click="delete(pin.id)" ng-show="hoverOver">
                <i class="material-icons small">delete</i>
              </a>
            </div>
          </div>
          <!-- <div class="delete-button" >
            <a  class="btn-floating fab waves-effect waves-light red darken-3" ng-click="delete(pin.id)" ng-show="hoverOver">
              <i class="material-icons small">delete</i>
            </a>
          </div> -->
        <a href="#!/board/{{board.id}}">
          <h3 ng-show="!board.showEditTitle">{{board.title}}</h3>
        </a>
        <input type="text" ng-model="board.title" ng-show="board.showEditTitle" ng-blur="updateBoardTitle(board)">


        </div>

      </div>
    </div>
  </div>
</div>