<div class="container">
  <div class="row">
    <div>
      <button ng-show="!show" class="btn btn-default" ng-click="show=true" type="button">ADD NEW BOARD</button>
      <div ng-show="show">
        <input ng-model="newBoard.title" type="text" placeholder="Enter name of your new board">
        <button class="btn btn-default" type="button" ng-click="submitNewBoard()">ADD</button>
        <button class="btn btn-default" ng-click="show=false" type="button" name="cancel">CANCEL</button>
      </div>
    </div>
    <div class="col s12 masonry-container">
      <div class="card-panel" ng-repeat="board in boards">
        <button type="button" name="delete" ng-click="delete(board.id)">X</button>
        <a href="#!/board/{{board.id}}">
          <h3>{{board.title}}</h3>
        </a>
      </div>
    </div>
  </div>
</div>